
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'instrument.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'instrument.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'instrument.typeInstrument' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'instrument.typeInstrument' | translate}}" autofocus  id="1" [(ngModel)]="item.typeInstrument?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'instrument.chequeEffet' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'instrument.chequeEffet' | translate}}" autofocus  id="2" [(ngModel)]="item.chequeEffet?.numeroChequeEffet">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'instrument.dateEmission' | translate}}</label>
                        <p-calendar id="3" [disabled]="true"  [showTime]="true" [showSeconds]="false" placeholder="{{'instrument.dateEmission' | translate}}"  [(ngModel)]="item.dateEmission" dateFormat="{{dateFormat}}"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'instrument.montant' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'instrument.montant' | translate}}" [(ngModel)]="item.montant"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



