        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'transaction.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'transaction.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'transaction.dateTransaction' | translate}}<span style="color: red;">*</span></label>
                                            <p-calendar appendTo="body" id="1"  [showTime]="true" [showSeconds]="false" placeholder="{{'transaction.dateTransaction' | translate}}"  [(ngModel)]="item.dateTransaction"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validTransactionDateTransaction}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validTransactionDateTransaction'>DateTransaction est obligatoire.</small>
                                        </div>

                                    <div class="field col-11 md:col-5">
                                        <label for="2">{{'transaction.typeTransaction' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="typeTransactions" [(ngModel)]="item.typeTransaction" id="2" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="libelle" placeholder="{{'transaction.typeTransaction' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateTypeTransaction('TypeTransaction')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                    <div class="field col-11 md:col-6">
                                        <label for="3">{{'transaction.instrument' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="instruments" [(ngModel)]="item.instrument" id="3" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="id" placeholder="{{'transaction.instrument' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                    <div class="field col-11 md:col-5">
                                        <label for="4">{{'transaction.compte' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="comptes" [(ngModel)]="item.compte" id="4" [filter]="true" filterMatchMode="contains"
                                                [showClear]="true" optionLabel="numeroCompte" placeholder="{{'transaction.compte' | translate}}"  >
                                        </p-dropdown>
                                        
                                    </div>
                                        <div class="col-1">
                                            <label></label>
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateCompte('Compte')" class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="field col-12 md:col-6">
                                            <label for="5">{{'transaction.dateEncaissement' | translate}}<span style="color: red;">*</span></label>
                                            <p-calendar appendTo="body" id="5"  [showTime]="true" [showSeconds]="false" placeholder="{{'transaction.dateEncaissement' | translate}}"  [(ngModel)]="item.dateEncaissement"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validTransactionDateEncaissement}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validTransactionDateEncaissement'>DateEncaissement est obligatoire.</small>
                                        </div>

                                        <div class="field col-12 md:col-6">
                                            <label for="6">{{'transaction.pathCheque' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'transaction.pathCheque' | translate}}" id="6" [(ngModel)]="item.pathCheque"
                                                     />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'transaction.description' | translate}}</label>
                                            <textarea id="7" pInputTextarea rows="5" cols="30" placeholder="{{'transaction.description' | translate}}"  [(ngModel)]="item.description"
                                                     ></textarea>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-type-transaction-create-admin></app-type-transaction-create-admin>
                    <app-compte-create-admin></app-compte-create-admin>


    </p-dialog>
