
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'personne.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'personne.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'personne.nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'personne.nom' | translate}}" autofocus  id="1" [(ngModel)]="item.nom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'personne.telephone' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'personne.telephone' | translate}}" autofocus  id="2" [(ngModel)]="item.telephone">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'personne.ville' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'personne.ville' | translate}}" autofocus  id="3" [(ngModel)]="item.ville?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'personne.adresse' | translate}}</label>
                        <textarea id="4" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'personne.adresse' | translate}}"  [(ngModel)]="item.adresse"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'personne.creance' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="5" [disabled]="true" placeholder="{{'personne.creance' | translate}}" [(ngModel)]="item.creance"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'personne.description' | translate}}</label>
                        <textarea id="6" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'personne.description' | translate}}"  [(ngModel)]="item.description"></textarea>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



